:root {
  --primary: #1f2937; /* var(--primary)   */
  --secodary: #374151; /* var(--secodary)   */
  --highlight: #89ddff; /* var(--highlight)   */
  --primary: #292d3e; /* var(--primary)   */
  --dark: #333333; /* var(--dark100)   */
  --gray: #9ca3af; /* var(--gray)    */
  --white: #fff; /* var(--white)    */
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
  letter-spacing: 1px;
}
#root {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  outline: none;
}

.scroll-lock {
  overflow: hidden;
}
